#searchTerm {
  height: 10px;
  width: 800px;
  padding: 20px;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

button:hover {
  border-color: #09680d;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  color: white;
  font-size: 40px;
}

.headerBtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.headerBtn:hover {
  background-color: #45a049;
}

/* Light mode */
.light-mode {
  background-color: #378138;
}

.light-mode .header {
  background-color: #535353;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Dark mode */
.dark-mode {
  background-color: #222;
  color: #fff;
}

.dark-mode .header {
  background-color: #222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Mode toggle button */
.mode-toggle {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mode-toggle:hover {
  background-color: #0056b3;
}